 <div class="row">
<%= form_for(petition, :html => {:class => 'col s12'}) do |f| %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :image,class: "validate" %>
        <input id="email" type="email" class="validate">
        <%= f.label :image %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :description,class: "validate" %>
        <%= f.label :description %>
      </div>
    </div>
    <div>
      <div class="input-field col s12">
        <%= f.text_field :video_url,class: "validate" %>
        <%= f.label :video_url %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :tag,class: "validate" %>
        <%= f.label :tag %>
      </div>
    </div>
    <div>
      <div class="input-field col s12">
        <%= f.text_field :location,class: "validate" %>
        <input id="email" type="email" class="validate">
        <%= f.label :location %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :country,class: "validate" %>
        <%= f.label :country %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :state,class: "validate" %>
        <%= f.label :state %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
     <br/>
    <%= link_to 'Back', petitions_path %>
    <br/>
  <% end %>
</div>
        






<!--   <% if petition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(petition.errors.count, "error") %> prohibited this petition from being saved:</h2>

      <ul>
      <% petition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> -->

